In [ ]:
# =================================================
#                   MILESTONE 1
# =================================================

# Nama  : Bintang Ksatrio Pratomo
# Batch : CODA-RMT-003

# File ini berisi query untuk Scrape data dari 
#            -----------------------
#            |       Bukalapak     |
#            |  Keyword : Basreng  |
#            -----------------------
# output: 
# menghasilkan file basreng.csv dengan value:
# 1. Nama Produk
# 2. Harga Produk
# 3. Rating Produk
# 4. Nama Toko
# 5. Lokasi Toko
# =================================================

In [2]:
from selenium import webdriver
from bs4 import BeautifulSoup
import pandas as pd
import time

In [24]:
#Referensi HTML
#Class Product
#<div class="bl-flex-item mb-8">

#Nama Product
#<p class="bl-text bl-text--body-14 bl-text--secondary bl-text--ellipsis__2">

#Harga Product
# <p class="bl-text bl-text--semi-bold bl-text--ellipsis__1 bl-product-card-new__price">

#Rating Product
# <p class="bl-text bl-text--caption-12 bl-text--bold">

# Store Name
# <p class="bl-text bl-text--caption-12 bl-text--secondary bl-text--ellipsis__1 bl-product-card-new__store-name"

#Store Loc
#<p class="bl-text bl-text--caption-12 bl-text--secondary bl-text--ellipsis__1 bl-product-card-new__store-location">

In [8]:
# Wadah untuk menampung Value
names = []
prices = []
ratings = []
stores = []
locs = []

# variabel untuk menyimpan webdriver
driver = webdriver.Edge()

#Looping untuk mengambil data dari halaman 1 - 5
for page in range (1,6): 
    url = f"https://www.bukalapak.com/products?page={page}&search%5Bkeywords%5D=basreng"
    
    driver.get(url)
    driver.execute_script("window.scrollTo(0,document.body.scrollHeight)")
    time.sleep(2)
    html = driver.page_source
    soup = BeautifulSoup(html, "html.parser")

    # Looping untuk mencari data yg ada pada class box produk
    for data in soup.find_all('div',{'class':'bl-flex-item mb-8'}):
        try:
            nama = data.find('p', {'class':'bl-text bl-text--body-14 bl-text--secondary bl-text--ellipsis__2'}).get_text()# mengambil semua data nama produk
            names.append(nama.strip().replace('\n','')) # Menghilangkan value yg tidak diinginkan
        except:
            names.append(None) #diisi none jika tidak ada data
        
        try:
            harga = data.find('p',{'class':'bl-text bl-text--semi-bold bl-text--ellipsis__1 bl-product-card-new__price'}).get_text()# mengambil semua data harga produk
            prices.append(harga.replace('\n','').replace(' ','').replace('.','')) # Menghilangkan value yg tidak diinginkan
        except:
            prices.append(None) # diisi none jika tidak ada data

        try:
            rate = data.find('p',{'class':'bl-text bl-text--caption-12 bl-text--bold'}).get_text() # mengambil semua data rating produk
            ratings.append(rate.replace('\n','').replace(' ',''))# Menghilangkan value yg tidak diinginkan
        except:
            ratings.append(None) # diisi none jika tidak ada data

        try:
            toko = data.find('p',{'class':'bl-text bl-text--caption-12 bl-text--secondary bl-text--ellipsis__1 bl-product-card-new__store-name'}).get_text() # mengambil semua data Nama Toko
            stores.append(toko.replace('\n','').replace(' ',''))# Menghilangkan value yg tidak diinginkan
        except:
            stores.append(None) # diisi none jika tidak ada data

        try:
            lokasi = data.find('p',{'class':'bl-text bl-text--caption-12 bl-text--secondary bl-text--ellipsis__1 bl-product-card-new__store-location'}).get_text() # mengambil semua data Nama Toko
            locs.append(lokasi.replace('\n','').replace(' ',''))# Menghilangkan value yg tidak diinginkan
        except:
            locs.append(None) # diisi none jika tidak ada data

# tutup driver setelah berhasil melakukan looping
driver.quit()
        
# melihat panjang data yg berhasil didapat
len(names),len(prices),len(ratings),len(stores),len(locs)

(50, 50, 50, 50, 50)

In [14]:
# Simpan value yg berhasil di scrape ke dalam dataframe df
data = ({
    'Product_Names': names,
    'Prices' : prices,
    'Ratings' : ratings,
    'Store_Names' : stores,
    'Location' : locs
})

df = pd.DataFrame(data)
# tampilkan dataframe
df.head()

,Product_Names,Prices,Ratings,Store_Names,Location
0,Basreng - Baso Goreng Rasa Asin & Pedas - SEHI...,23800,5,cahayamaju10,Sukabumi
1,Basreng Pedas | Kemasan 200gram | Rasa Pedas Asin,10000,None,AlodeaOlshop,Klaten
2,Basreng,12000,None,RamaAndaru,TangerangSelatan
3,Basreng,40000,None,RamaAndaru,TangerangSelatan
4,Basreng - Baso Goreng Rasa Asin & Pedas - SEHI...,23800,5,cahayamaju10,Sukabumi

In [10]:
# Tampilkan informasi mengenaik dataframe df
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Product_Names  50 non-null     object
 1   Prices         50 non-null     object
 2   Ratings        15 non-null     object
 3   Store_Names    50 non-null     object
 4   Location       50 non-null     object
dtypes: object(5)
memory usage: 2.1+ KB

In [11]:
# Ubah tipe data prices menjadi int dan rating menjadi float
df['Prices'] = df['Prices'].astype(int)
df['Ratings'] = df['Ratings'].astype(float)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Product_Names  50 non-null     object
 1   Prices         50 non-null     int64
 2   Ratings        15 non-null     float64
 3   Store_Names    50 non-null     object
 4   Location       50 non-null     object
dtypes: float64(1), int64(1), object(3)
memory usage: 2.1+ KB

In [13]:
df.head()

,Product_Names,Prices,Ratings,Store_Names,Location
0,Basreng - Baso Goreng Rasa Asin & Pedas - SEHI...,23800,5.0,cahayamaju10,Sukabumi
1,Basreng Pedas | Kemasan 200gram | Rasa Pedas Asin,10000,NaN,AlodeaOlshop,Klaten
2,Basreng,12000,NaN,RamaAndaru,TangerangSelatan
3,Basreng,40000,NaN,RamaAndaru,TangerangSelatan
4,Basreng - Baso Goreng Rasa Asin & Pedas - SEHI...,23800,5.0,cahayamaju10,Sukabumi

In [12]:
# Export dataframe ke dalam bentuk file .csv
df.to_csv('basreng.csv', index=False, encoding='utf-8')